<HTML>
    <HEAD>
    <TITLE>Sunyup's homepage</TITLE>
    </HEAD>
    <BODY BGCOLOR="FFFFFF">
    <CENTER><IMG SRC="clouds.jpg" ALIGN="BOTTOM"> </CENTER>
    <HR>
    <a href="http://somegreatsite.com">Link Name</a>
    is a link to another nifty site
    <H1>Sunyup</H1>
    <H2>Welcome to my page</H2>
    Send me mail at <a href="mailto:syh1690@hotmail.com">
    syh1690@hotmail.com</a>.
    <P> This is a new paragraph!
    <P> <B>This is a new paragraph!</B>
    <BR> <B><I>This is a new sentence without a paragraph break, in bold italics.</I></B>
    <HR>
    </BODY>
    </HTML>
     